asgiref==3.9.1
charset-normalizer==3.4.4
click==8.2.1
Django==5.2.5
django-extensions==4.1
django-simple-history==3.10.1
djangorestframework==3.16.1
djangorestframework-datatables==0.7.2
flake8==7.3.0
iniconfig==2.1.0
mccabe==0.7.0
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyMuPDF==1.26.7
pytest==8.4.2
pytest-django==4.11.1
python-decouple==3.8
reportlab==4.4.5
ruff==0.12.8
setuptools==80.9.0
sqlparse==0.5.3
svgwrite==1.4.3
