<div class="blokas-5 card">
  <h3>Papildoma informacija</h3>

  {% if uzklausa.detale.pakavimas %}
    <p><b>Pakavimas:</b> {{ uzklausa.detale.pakavimas }}</p>
  {% endif %}

  {% if uzklausa.detale.pakavimas_po_ktl %}
    <p><b>Pakavimas po KTL:</b> {{ uzklausa.detale.pakavimas_po_ktl }}</p>
  {% endif %}

  {% if uzklausa.detale.pakavimas_po_miltelinio %}
    <p><b>Pakavimas po miltelinio:</b> {{ uzklausa.detale.pakavimas_po_miltelinio }}</p>
  {% endif %}

  {% if uzklausa.detale.tara_kliento %}
    <p><b>Tara (kliento):</b> {{ uzklausa.detale.tara_kliento }}</p>
  {% endif %}

  {% if uzklausa.detale.pakavimo_instrukcija %}
    <p><b>Pakavimo instrukcija:</b><br>{{ uzklausa.detale.pakavimo_instrukcija|linebreaksbr }}</p>
  {% endif %}

  {% if brezinio_url or uzklausa.detale.nuoroda_brezinio %}
    <p><b>Nuoroda į brėžinį:</b>
      {% if brezinio_url %}
        <a href="{{ brezinio_url }}" target="_blank" rel="noopener">Peržiūrėti</a>
      {% else %}
        {{ uzklausa.detale.nuoroda_brezinio }}
      {% endif %}
    </p>
    {% if brezinio_url %}
      <p><b>Brėžinys:</b></p>
      <img src="{{ brezinio_url }}" alt="Brėžinys" style="max-width:100%;height:auto">
    {% endif %}
  {% endif %}

  {% if uzklausa.detale.nuoroda_pasiulymo %}
    <p><b>Nuoroda į pasiūlymą:</b>
      <a href="{{ uzklausa.detale.nuoroda_pasiulymo }}" target="_blank" rel="noopener">
        {{ uzklausa.detale.nuoroda_pasiulymo }}
      </a>
    </p>
  {% endif %}

  {% if uzklausa.detale.pastabos %}
    <p><b>Pastabos:</b><br>{{ uzklausa.detale.pastabos|linebreaksbr }}</p>
  {% endif %}
</div>
