{% load static %}
<!DOCTYPE html>
<html lang="lt">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Registras{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Globalūs stiliai -->
  <link rel="stylesheet" href="{% static 'detaliu_registras/css/style.css' %}">

  {% block page_css %}{% endblock %}
</head>
<body>
  <header class="header-container">
    <nav class="header-links">
      <a href="{% url 'detaliu_registras:ivesti_uzklausa' %}">Įvesti užklausą</a>
      <a href="{% url 'detaliu_registras:perziureti_uzklausas' klientas_id=0 %}">Peržiūrėti užklausas</a>
    </nav>
    {% block header_right %}{% endblock %}
  </header>

  <main class="main-content">
    {% include "snippets/messages.html" %}
    {% block content %}{% endblock %}
  </main>

  {% block page_js_head %}{% endblock %}
  {% block page_js %}{% endblock %}
</body>
</html>
