<div class="blokas-1">
  <h3>Pagrindinė informacija</h3>
  <p><b>Klientas:</b> {{ uzklausa.klientas.vardas }}</p>
  <p><b>Projektas:</b> {{ uzklausa.projektas.pavadinimas }}</p>
  <p><b>Užklausos data:</b> {{ uzklausa.projektas.uzklausos_data }}</p>
  <p><b>Pasiūlymo data:</b> {{ uzklausa.projektas.pasiulymo_data }}</p>
  <p><b>Detalės pavadinimas:</b> {{ uzklausa.detale.pavadinimas }}</p>
  <p><b>Brėžinio Nr.:</b> {{ uzklausa.detale.brezinio_nr }}</p>
</div>

<div class="blokas-2">
  <h3>Techniniai parametrai</h3>
  <p><b>Plotas:</b> {{ uzklausa.detale.plotas }} m²</p>
  <p><b>Svoris:</b> {{ uzklausa.detale.svoris }} kg</p>
  <p><b>Kiekis metinis:</b> {{ uzklausa.detale.kiekis_metinis }}</p>
  <p><b>Kiekis mėnesinis:</b> {{ uzklausa.detale.kiekis_menesis }}</p>
  <p><b>Kiekis partijai:</b> {{ uzklausa.detale.kiekis_partijai }}</p>
  <p><b>Kiekis rėme:</b> {{ uzklausa.detale.kiekis_reme }}</p>
  <p><b>Faktinis kiekis rėme:</b> {{ uzklausa.detale.faktinis_kiekis_reme }}</p>
</div>

<div class="blokas-3">
  <h3>Paslaugos ir standartai</h3>
  <p><b>Danga:</b>
    {% for d in uzklausa.detale.danga.all %}
      {{ d.pavadinimas }}{% if not forloop.last %}, {% endif %}
    {% empty %}
      —
    {% endfor %}
  </p>
  <p><b>Standartas:</b> {{ uzklausa.detale.standartas }}</p>
  <p><b>Kabinimo tipas:</b> {{ uzklausa.detale.kabinimo_tipas }}</p>
  <p><b>Kabinimas XYZ:</b> {{ uzklausa.detale.kabinimas_xyz }}</p>
</div>
